.ant-row {
  margin-left: -8px;
  margin-right: -8px;
}
.ant-row > div {
  padding: 0 8px;
}

/* Login */
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

/* Register */
.icp-selector {
  width: 60px;
}